#page-resume {
  width: 100vw;
  height: 100vh;
  margin: 3.2rem auto;
  max-width: 100%;
}

.footer-note {
  margin: 1.6rem 0;
  position: relative;
  align-self: flex-end;
}

@media (min-width: 700px) {

}
